@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        TESTEEE DE LOGIN
    </div>
    <a href="@Url.RouteUrl("Admin.LogOut")" class="btnLogout">
        sair
    </a>
</body>
</html>
