@{ 
    Layout = null;
}

<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title txtBlack">Cadastro de Ocorrências</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div>
            TESTANTANNNNNDEEEEE
            @Html.ActionLink("Retornar para a lista", "Index")
        </div>

        <div class="modal-footer">

            <div class="form-group d-none" id="divSubmit">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Gravar" class="btn btn-default" />
                </div>
            </div>

        </div>
    </div>
</div>
