@{
    ViewBag.Title = "Home";
}
<div class="content contentView bodyimg">

    <div class="d-flex justify-content-center align-content-center mt-5">
        <div class="row">
            <div class="col-md-6 col-12">
                <img src="~/Content/images/NewGenTechDark.png" class="imgLogo" />
            </div>
            <div class="col-md-6 col-12">
                <img src="~/Content/Images/centro-paula-souza-logo.svg" />
                <div class="text-center">
                    <img src="~/Content/Images/cropped-logo_fatecgta_site.png" class="imgLogoFatec" />
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <div class="pb-3 txtBlack pt-5">
            <h5 class="mt-3 text-center txtInicial">
                Para iniciar, escolha uma das opções abaixo:
            </h5>
        </div>
        <div class="d-flex justify-content-center">
            <div class="row justify-content-around txtBlack" id="cardInicial">

                <div class="col-md-6 col-lg-4 col-sm-12 col-12 cardChild">
                    <div id="cardChamado" class="info-box shadow">
                        <span class="info-box-icon bg-warning">
                            <i class="fa-solid fa-plus"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-number text-center">Abrir chamado</span>
                            <span class="info-box-text text-center text-wrap">
                                <small>
                                    - Criar um novo chamado - <br />(Não é necessário estar logado)
                                </small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-12 col-12 cardChild">
                    <div id="cardConsuta" class="info-box shadow">
                        <span class="info-box-icon bg-warning">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>

                        <div class="info-box-content">

                            <span class="info-box-number text-center">Consultar chamado</span>
                            <span class="info-box-text text-center text-wrap">
                                <small>
                                    - Consultar o status do seu chamado aberto - <br />(Não é necessário estar logado)
                                </small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-12 col-12 cardChild">
                    <div id="cardLogin" class="info-box shadow">
                        <span class="info-box-icon bg-warning">
                            <i class="fa-solid fa-user"></i>

                        </span>

                        <div class="info-box-content">

                            <span class="info-box-number text-center">Área de Login</span>
                            <span class="info-box-text text-center text-wrap">
                                <small>
                                    - Clique aqui para realizar o login -
                                </small>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="NovaOcorrencia"></div>
<div id="modalC" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ConsultaC" @*aria-hidden="true" data-backdrop="static" data-keyboard="false"*@></div>
<div id="modalL" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Login"></div>

@section CssPage{
    <link href="~/Content/Libs/prettify/prettify.css" rel="stylesheet" />
}

@section ScriptPage{
    <script>
        $(function () {
            $('#cardChamado').click(function () {
                $("#modal").load("@Url.RouteUrl("Home.Ocorrencia")", function () {
                    $("#modal").modal();
                });
            });
        });
    </script>
    <script>
        $(function () {
            $('#cardConsuta').click(function () {
                $("#modalC").load("/ocorrencias/consultachamado", function () {
                    $("#modalC").modal();
                });
            });
        });
    </script>
    <script>
        $(function () {
            $('#cardLogin').click(function () {
                $("#modalL").load("@Url.RouteUrl("Home.Acesso")", function () {
                    $("#modalL").modal();
                });
            });
        });
    </script>

    <script src="~/Content/Js/CheckPerm.js"></script>
    <script src="~/Content/Libs/jquery-validation/jquery.validate.js"></script>
    <script src="~/Content/Libs/jquery-validation/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/Libs/prettify/prettify.js"></script>
    <script src="~/Content/Libs/jquery/jquery.slimscroll.min.js"></script>
}
