@model NGT.Models.Entities.Ocorrencia

@{
    Layout = null;
}

<div class="modal-dialog modal-lg modal-dialog-centered min-vh-100" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title txtBlack" id="ConsultaC">Busca de Chamados</h5>
            <button class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="overflow-hidden">

            <section class="pl-3 pr-3 pt-3 mb-3">
                <div class="row">

                    <div class="col-sm-12">

                        <form method="get" class="d-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control" type="text" id="termo" name="termo" placeholder="Consultar status de chamados">
                                <div class="input-group-append">
                                    <button class="btn input-group-text" id="busca" type="button">
                                        <i class="fas fa-search fa-fw"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>

                    @*<div class="col-sm-6">
                            @if (@TempData["LP"] != null)
                            {
                                <a class="btn btn-default btn-sm float-lg-left float-md-left float-sm-left float-left mr-3" id="novaCateg">
                                    Limpar
                                </a>
                        </div>*@
                </div>


            </section>
            <div id="result" class="txtBlack d-flex justify-content-center ml-3 mr-3"></div>
        </div>
    </div>
</div>
<script>
        $(function () {
            $('#busca').click(function () {
                $('#result').html('<div class="d-flex justify-content-center"><div class="c-loader m-4"></div></div>');

                setTimeout(function () {
                    var termo = $('#termo').val();
                    $.get('@Url.Action("ConsultaChamado","Ocorrencias")', { termo: termo }, function (resultado) {
                        $('#result').removeClass("d-flex justify-content-center");
                        $('#result').html(resultado);
                    });
                }, 1500);


            });
        });

</script>
<script>
    $(".close").click(function () {
        $('#result').html("");
        @*window.location.replace("@Url.RouteUrl("Home.Index")");*@
        
    });
</script>
