<footer class="main-footer bgbottom d-flex justify-content-center">
    <strong>
        Copyright &copy; 2022
        <a href="#">NewGenTech.com</a>
    </strong> &nbsp; - &nbsp;Todos os direitos reservados.
</footer>
