<nav class="main-header navbar bgtop navbar-dark">
    <div class="position-absolute">
        <a href="@Url.RouteUrl("Home.Index")" class="navbar-brand link-light">
            <img src="~/Content/Images/NGT.png" alt="NGT Logo" class="brand-image" />
            <span class="brand-text font-weight-light hideCollapse">NewGenTech</span>
        </a>
    </div>
    <div class="container-fluid d-flex justify-content-center">
        <div>
            <h1 class="brand">GESTÃO DA MANUTENÇÃO</h1>
        </div>
    </div>
</nav>